#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Decky
Exec=sh -c 'rm -f /tmp/user_install_script.sh; if curl -S -s -L -o /tmp/user_install_script.sh --connect-timeout 60 https://decky.mirror.aerocore.com.cn/AeroCore-IO/decky-installer/releases/latest/download/user_install_script.sh; then bash /tmp/user_install_script.sh; else echo "Something went wrong, please report this if it is a bug"; read -r; fi'
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
